@charset "UTF-8";
/*Header CSS*/
header .navbar {
  background-color: rgb(170, 183, 156);
}
header .navbar .navbar-brand {
  margin: 0px 12px;
}
header .navbar .logo {
  width: 70px;
  height: 70px;
}
header .navbar #navbarNav .nav-link.active.ok {
  color: beige;
  font-size: 20px;
  text-decoration: underline;
  font-style: italic;
}
header .navbar #navbarNav .nav-link {
  color: beige;
  font-size: 18px;
}

/*Section Title*/
.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}
.title #title {
  letter-spacing: 7px;
  font-style: italic;
  font-size: 3rem;
}
.title #subtitle {
  font-size: 4rem;
}

.section-paragraph {
  color: rgb(22, 22, 22);
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 45px;
}
.section-paragraph .paragraph-introduction {
  font-size: 35px;
  margin: 65px;
  font-family: "Ysabeau", sans-serif;
  font-style: italic;
}
.section-paragraph .paragraph-text {
  font-size: 30px;
  margin: 90px 390px 40px 390px;
  font-family: "Ysabeau", sans-serif;
}

/*Page Nosotros*/
.paragraph-introduction {
  font-size: 35px;
  margin: 65px;
  font-family: "Ysabeau", sans-serif;
  font-style: italic;
}

.paragraph-nosotros {
  font-size: 28px;
  margin: 20px 60px;
  font-family: "Poppins", sans-serif;
}

.italic {
  font-style: italic;
}

/*Page Galería*/
.paragraph-galeria {
  margin: 30px 0px 85px 0px;
  text-align: center;
  font-family: "Josefin Slab", serif;
  font-size: 2rem;
}

/*Page Servicios*/
#servicios-conteiner .servicios-introduction {
  background-color: rgb(198, 211, 173);
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-style: italic;
  padding: 10px;
  text-align: center;
}
#servicios-conteiner .servicios-introduction .uno, #servicios-conteiner .servicios-introduction .dos {
  margin: 40px;
}
#servicios-conteiner .servicios-detalle h3 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  margin: 30px;
  font-style: italic;
  text-align: center;
}
#servicios-conteiner .servicios-detalle .cuatro {
  margin: 10px 20px;
  padding-right: 30px;
  /*FlexBox*/
  display: flex;
  flex-direction: column;
}
#servicios-conteiner .servicios-detalle .cuatro .item-servicios {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  list-style-type: circle;
  list-style-position: inside;
  padding: 20px;
}
#servicios-conteiner .servicios-detalle .cinco {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin: 20px;
  display: flex;
  justify-content: center;
  font-style: italic;
}

.first-button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.first-button #button {
  background-color: rgb(147, 173, 147);
  border: rgb(75, 107, 75);
  font-size: 25px;
  padding: 15px;
}
.first-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

.second-button {
  display: flex;
  justify-content: center;
  margin: 60px 0px;
}
.second-button #button {
  background-color: rgb(147, 173, 147);
  border: rgb(75, 107, 75);
  font-size: 25px;
  padding: 15px;
}
.second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Footer*/
.footer-conteiner {
  background-color: rgb(220, 220, 220);
  padding: 30px;
  /*Grid*/
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
}
.footer-conteiner .footer-item-media {
  /*Grid*/
  grid-column: 1;
  /*Flexbox*/
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 16px;
}
.footer-conteiner .footer-item-media .footer-icon {
  text-decoration: none;
  color: rgb(92, 130, 108);
  cursor: pointer;
}
.footer-conteiner .footer-item-media .media-icon {
  width: 35px;
  height: 35px;
}
.footer-conteiner .footer-item-phrase {
  /*Grid*/
  grid-column: 3;
  text-align: end;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

/*Page Nosotros*/
.first-conteiner {
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.first-conteiner .logo-image-conteiner-nosotros {
  /*Grid*/
  grid-column: 1;
  width: 100%;
  height: auto;
  align-self: center;
  /*Flexbox*/
  display: flex;
  justify-content: center;
}
.first-conteiner .logo-image-conteiner-nosotros:hover {
  transform: rotate(360deg);
  transition: all 5s;
}
.first-conteiner .text-conteiner {
  /*Grid*/
  grid-column: 2;
  /*Flexbox*/
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.second-conteiner {
  /*Grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.second-conteiner .first-image-conteiner-nosotros {
  /*Grid*/
  grid-column: 1;
  /*FlexBox*/
  display: flex;
  align-items: center;
}
.second-conteiner .first-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}
.second-conteiner .first-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}
.second-conteiner .second-image-conteiner-nosotros {
  /*Grid*/
  grid-column: 2;
  /*FlexBox*/
  display: flex;
  align-items: center;
}
.second-conteiner .second-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}
.second-conteiner .second-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}
.second-conteiner .third-image-conteiner-nosotros {
  /*Grid*/
  grid-column: 3;
  /*FlexBox*/
  display: flex;
  align-items: center;
}
.second-conteiner .third-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}
.second-conteiner .third-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}

/*Page Galería*/
.galeria-conteiner {
  width: 100%;
  margin: 40px auto;
  /*FlexBox*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galeria-conteiner #carouselExample-delfina, .galeria-conteiner #carouselExample-compromiso, .galeria-conteiner #carouselExample-gianluca, .galeria-conteiner #carouselExample-eli, .galeria-conteiner #carouselExample-tomas, .galeria-conteiner #carouselExample-bautismo {
  width: 25%;
  margin: 10px;
}

/*Page Servicios*/
#servicios-conteiner {
  margin: 20px 0px 0px 30px;
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
#servicios-conteiner .servicios-introduction {
  grid-column: 1;
  /*Flexbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#servicios-conteiner .servicios-detalle {
  grid-column: 2;
}
#servicios-conteiner .servicios-detalle .cuatro .item-servicios:hover {
  transform: scale(1.1);
  transform: translateX(20px);
  transform: translateY(15px);
  transition: all 2s;
}

.seis {
  /*Flexbox*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

.servicios-3 {
  width: 34%;
}

.servicios-4 {
  width: 64%;
}

/*# sourceMappingURL=style.css.map */
