@charset "UTF-8";
.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .contacto-images .right-side, .contacto-images .center, .contacto-images .left-side, .buttons-servicios, .second-button, .first-button {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.second-button .link-conocenos, .first-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .contacto-images .right-side, .contacto-images .center, .contacto-images .left-side, .buttons-servicios, .second-button, .first-button {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.second-button .link-conocenos, .first-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
.first-button {
  margin-bottom: 60px;
}
.first-button #button {
  background-color: rgb(147, 173, 147);
  border: rgb(75, 107, 75);
  font-size: 25px;
  padding: 15px;
}
.second-button {
  margin: 60px 20px;
}
.second-button #button {
  background-color: rgb(147, 173, 147);
  border: rgb(75, 107, 75);
  font-size: 25px;
  padding: 15px;
}
#button-redes {
  background-color: rgb(236, 124, 142);
  border: rgb(75, 107, 75);
  font-size: 25px;
  padding: 15px;
}

#button:hover {
  transform: scale(1.1);
  transition: all 2s;
}

#button-redes:hover {
  transform: scale(1.1);
  transition: all 2s;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .contacto-images .right-side, .contacto-images .center, .contacto-images .left-side, .first-button, .second-button, .buttons-servicios {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Page Contacto*/
.contacto-images {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1;
}
.contacto-images .contacto-img {
  width: 100%;
}
.contacto-images .left-side {
  border-radius: 80px;
  margin-top: 100px;
  grid-column: 1;
  transform: translateX(50px);
}
.contacto-images .center {
  border-radius: 80px;
  margin-top: 25px;
  grid-column: 2;
  position: relative;
  z-index: 1;
}
.contacto-images .right-side {
  border-radius: 80px;
  margin-top: 100px;
  grid-column: 3;
  transform: translateX(-50px);
}
.contacto-images .left-side:hover {
  transform: translateY(30px);
  transition: all 3s;
}
.contacto-images .center:hover {
  transform: scale(1.1);
  transition: all 2s;
}
.contacto-images .right-side:hover {
  transform: translateY(30px);
  transition: all 3s;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Footer*/
.footer-conteiner {
  background-color: rgb(220, 220, 220);
  padding: 30px;
  /*Grid*/
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 1;
}
.footer-conteiner .footer-item-media {
  /*Grid*/
  grid-column: 1;
  /*Flexbox*/
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: italic;
  margin: 0px;
}
.footer-conteiner .footer-item-media .footer-icon {
  text-decoration: none;
  color: rgb(92, 130, 108);
  cursor: pointer;
}
.footer-conteiner .footer-item-media .media-icon {
  width: 35px;
  height: 35px;
}
.footer-conteiner .footer-item-phrase {
  /*Grid*/
  grid-column: 3;
  text-align: end;
  font-size: 20px;
  font-style: italic;
  margin: 0px 0px 40px 0px;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Page Galería*/
.galeria-conteiner {
  width: 100%;
  margin: 40px auto;
  /*FlexBox*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galeria-conteiner #carouselExample-delfina, .galeria-conteiner #carouselExample-compromiso, .galeria-conteiner #carouselExample-gianluca, .galeria-conteiner #carouselExample-eli, .galeria-conteiner #carouselExample-tomas, .galeria-conteiner #carouselExample-bautismo {
  width: 25%;
  margin: 10px;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Header CSS*/
header .navbar {
  background-color: rgb(170, 183, 156);
}
header .navbar .navbar-brand {
  margin: 0px 12px;
}
header .navbar .logo {
  width: 70px;
  height: 70px;
}
header .navbar #navbarNav .nav-link.active.ok {
  color: beige;
  font-size: 20px;
  text-decoration: underline;
  font-style: italic;
}
header .navbar #navbarNav .nav-link {
  color: beige;
  font-size: 18px;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-conteiner .text-conteiner, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side {
  display: flex;
  justify-content: center;
}

.second-conteiner .third-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .first-image-conteiner-nosotros .image, .first-conteiner .logo-image-conteiner-nosotros {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Page Nosotros*/
.first-conteiner {
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1;
}
.first-conteiner .logo-image-conteiner-nosotros {
  /*Grid*/
  grid-column: 1;
  width: 100%;
  height: auto;
}
.first-conteiner .logo-image-conteiner-nosotros:hover {
  transform: rotate(-360deg);
  transition: all 5s;
}
.first-conteiner .text-conteiner {
  /*Grid*/
  grid-column: 2;
  /*Flexbox*/
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.second-conteiner {
  /*Grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.second-conteiner .first-image-conteiner-nosotros {
  grid-column: 1;
  display: flex;
  align-items: center;
}
.second-conteiner .first-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}
.second-conteiner .second-image-conteiner-nosotros {
  grid-column: 2;
  display: flex;
  align-items: center;
}
.second-conteiner .second-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}
.second-conteiner .third-image-conteiner-nosotros {
  grid-column: 3;
  display: flex;
  align-items: center;
}
.second-conteiner .third-image-conteiner-nosotros .image .nosotros-image {
  width: 80%;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .servicios-detalle .cinco, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side, .first-conteiner .text-conteiner {
  display: flex;
  justify-content: center;
}

.first-conteiner .logo-image-conteiner-nosotros, .second-conteiner .first-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .third-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
.section-paragraph {
  color: rgb(22, 22, 22);
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 45px;
}
.section-paragraph .paragraph-introduction {
  font-size: 35px;
  margin: 65px;
  font-family: "Ysabeau", sans-serif;
  font-style: italic;
}
.section-paragraph .paragraph-text {
  font-size: 30px;
  font-style: none;
  margin: 90px 390px 40px 390px;
  font-family: "Ysabeau", sans-serif;
}
@media screen and (max-width: 1500px) {
  .section-paragraph .paragraph-text {
    font-size: 28px;
    font-style: none;
    margin: 70px 250px 40px 250px;
  }
}
@media screen and (max-width: 1500px) {
  .section-paragraph .paragraph-text {
    font-size: 28px;
    font-style: none;
    margin: 70px 250px 40px 250px;
  }
}
@media screen and (max-width: 1300px) {
  .section-paragraph .paragraph-text {
    font-size: 26px;
    font-style: none;
    margin: 60px 150px 40px 150px;
  }
}
@media screen and (max-width: 900px) {
  .section-paragraph .paragraph-text {
    font-size: 26px;
    font-style: none;
    margin: 50px 80px;
  }
}
@media screen and (max-width: 700px) {
  .section-paragraph .paragraph-text {
    font-size: 26px;
    font-style: none;
    margin: 50px 30px;
  }
}
@media screen and (max-width: 1300px) {
  .section-paragraph {
    padding: 30px;
  }
}
@media screen and (max-width: 900px) {
  .section-paragraph {
    padding: 20px;
  }
}
@media screen and (max-width: 700px) {
  .section-paragraph {
    padding: 0px;
  }
}

/*Page Nosotros*/
.paragraph-introduction {
  font-size: 35px;
  margin: 65px;
  font-family: "Ysabeau", sans-serif;
  font-style: italic;
}

.paragraph-nosotros {
  font-size: 24px;
  font-style: none;
  margin: 20px 80px;
  font-family: "Poppins", sans-serif;
}

.italic {
  font-style: italic;
}

/*Page Galería*/
.paragraph-galeria {
  font-size: 2rem;
  font-style: none;
  margin: 30px 0px 85px 0px;
  text-align: center;
  font-family: "Josefin Slab", serif;
}

/*Page Servicios*/
.servicios-introduction {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  text-align: center;
  margin: 40px;
}
.servicios-introduction .uno {
  font-size: 32px;
  font-style: italic;
  margin: 0px;
  padding: 30px 100px;
}
.servicios-introduction .dos {
  font-size: 24px;
  padding: 30px 100px;
}

.servicios-detalle h3 {
  font-size: 28px;
  font-style: italic;
  margin: 30px;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
  text-align: center;
}
.servicios-detalle .cuatro {
  margin: 10px 20px;
  padding-right: 30px;
  /*FlexBox*/
  display: flex;
  flex-direction: column;
  text-align: center;
}
.servicios-detalle .cuatro .item-servicios {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  list-style-type: circle;
  list-style-position: inside;
  padding: 20px;
}
.servicios-detalle .cinco {
  font-size: 28px;
  font-style: italic;
  margin: 20px;
  font-family: "Poppins", sans-serif;
}

/*Page Contacto*/
main {
  text-align: center;
}
main .contacto {
  font-size: 35px;
  font-style: none;
  margin: 70px;
}
main .paragraph-contacto {
  font-size: 32px;
  font-style: italic;
  margin: 10px 30px;
  font-family: "Poppins", sans-serif;
}
main .second-text-conteiner-contacto {
  margin: 70px 0px;
}

.seis .servicios-3, .seis .servicios-2, .seis .servicios-1, .first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side, .first-conteiner .text-conteiner, .servicios-detalle .cinco {
  display: flex;
  justify-content: center;
}

.first-conteiner .logo-image-conteiner-nosotros, .second-conteiner .first-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .third-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Page Servicios*/
.cuatro .item-servicios:hover {
  transform: translateX(15px);
  transition: all 2s;
}

.seis {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1;
}
.seis .servicios-img {
  width: 100%;
  align-items: center;
}
.seis .servicios-1 {
  grid-column: 1;
  padding: 5px;
  margin-top: 15px;
}
.seis .servicios-2 {
  grid-column: 3;
  padding: 5px;
  margin-top: 15px;
}
.seis .servicios-3 {
  grid-column: 2;
  padding: 5px;
  margin-top: 0px;
}
.seis .servicios-1:hover {
  transform: scale(1.2);
  transition: all 3s;
}
.seis .servicios-2:hover {
  transform: scale(1.2);
  transition: all 3s;
}
.seis .servicios-3:hover {
  transform: scale(1.3);
  transition: all 3s;
}

.first-button, .second-button, .buttons-servicios, .contacto-images .left-side, .contacto-images .center, .contacto-images .right-side, .first-conteiner .text-conteiner, .servicios-detalle .cinco, .seis .servicios-1, .seis .servicios-2, .seis .servicios-3 {
  display: flex;
  justify-content: center;
}

.first-conteiner .logo-image-conteiner-nosotros, .second-conteiner .first-image-conteiner-nosotros .image, .second-conteiner .second-image-conteiner-nosotros .image, .second-conteiner .third-image-conteiner-nosotros .image {
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  color: rgb(22, 22, 22);
  background-color: rgb(255, 250, 243);
  font-family: "Josefin Slab", serif;
  text-align: center;
  padding: 60px;
}

.first-button .link-conocenos, .second-button .link-conocenos {
  text-decoration: none;
  color: beige;
  font-style: italic;
}

/*Responsive*/
/*Section Title*/
.title #title {
  letter-spacing: 7px;
  font-style: italic;
  font-size: 3rem;
}
.title #subtitle {
  font-size: 4rem;
}

/*# sourceMappingURL=style.css.map */
