
/*Inicio Header*/
.navbar {
    background-color: rgb(147, 173, 147);
}

.nav-link {
    color: beige;
    font-size: 18px;
}

.nav-link.active.ok {
    color: beige;
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
}

.navbar-brand {
    margin: 0px 12px 0px 12px;
}
   

.logo {
    width: 70px;
    height: 70px;
}

/*Fin Header*/


/*Inicio Section Title*/

.title {
    color: rgb(22,22,22);
    text-align: center;
    background-color: rgb(255, 250, 243);
    padding: 100px;
    font-family: 'Josefin Slab', serif;
}

#title {
    letter-spacing: 7px;
    font-size: 3rem;
    font-style: italic;
}

#subtitle {
    font-size: 6rem;
}

/*Fin Section title index*/


/* Section paragraph index*/
.section-paragraph {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 45px;
}

.paragraph-introduction {
    font-size: 3rem;
    margin: 65px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.paragraph-text {
    font-size: 38px;
    margin: 120px 350px 40px 350px;
    font-family: 'Ysabeau', sans-serif;
}

.first-button {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

#button {
    background-color: rgb(147, 173, 147);
    border: rgb(75, 107, 75);
    font-size: 28px;
}

.link-conocenos {
    text-decoration: none;
    color: beige;
    font-style: italic;
}
/* Fin Section paragraph index*/


/* Footer */

.footer-conteiner {
    /*Grid*/
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
}

footer {
    background-color: rgb(220, 220, 220);
    padding: 30px;
}

.footer-icon {
    text-decoration: none;
    color: rgb(92, 130, 108);   
    cursor: pointer;
}

.footer-item-media {
    /*Grid*/
    grid-column: 1;
    /*Flexbox*/
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 16px;
}

.media-icon {
    width: 35px;
    height: 35px;
}

.footer-item-phrase {
    text-align: end;
    font-style: italic;
    grid-column: 3;
    font-size: 20px;
    margin-bottom: 40px;
}

/* Fin Footer */


/*Inicio Page Nosotros*/

.paragraph-nosotros {
    font-size: 34px;
    margin: 20px 50px;
    font-family: 'Poppins', sans-serif;
}

.italic {
    font-style: italic;
}

.conteiner {
    /*Grid*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 650px);
}

.text-conteiner {
    margin: 50px 0px 0px 20px;
    padding: 50px 0px 0px 40px;
    /*Grid*/
    grid-column: 1;
    grid-row: 1/3;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-image-conteiner-nosotros {
    /*Grid*/
    grid-column: 2;
    grid-row: 1;
    /*FlexBox*/
    display: flex;
    align-items: center;
}

.second-image-conteiner-nosotros {
    /*Grid*/
    grid-column: 2;
    grid-row: 2;
    /*FlexBox*/
    display: flex;
    align-items: center;
}

.third-image-conteiner-nosotros {
    /*Grid*/
    grid-column: 2;
    grid-row: 3;
    /*FlexBox*/
    display: flex;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;
}

.nosotros-image {
    width: 55%;
}

.second-button {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

/* Fin Page Nosotros*/


/* Inicio Page Galería*/

.galeria-conteiner {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    width: 100%;
    margin: 40px auto;
    /*FlexBox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


#carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo {
    width: 25%;
    margin: 10px;
}

.paragraph-galeria {
    margin: 30px 0px 85px 0px;
}

/* Fin Page Galería*/


/* Inicio Page Servicios
    Main section */

.uno, .dos, .cinco {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 40px;
    display: flex;
    justify-content: center;
}

.uno, .dos, h3 {
    text-align: center;
}

.cuatro {
    margin: 10px 20px;
    padding-right: 30px;
    /*FlexBox*/
    display: flex;
    flex-direction: column;
}

.dos {
    padding: 10px 190px;
}

.tres {
    margin-bottom: 100px;
    /*FlexBox*/
    display: flex;
    justify-content: center;
    gap: 20px;
}

.servicios-1 {
    width: 30%;
}

.servicios-2 {
    width: 40%;
}

h3 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 30px 60px;
    font-style: italic;
}

.item-servicios {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    list-style-type: circle;
    list-style-position: inside;
    padding: 40px;
}

.seis {
    /*Flexbox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.servicios-3 {
    width: 30%;
}

.servicios-4 {
    width: 60%;
}

.cinco {
    font-style: italic;
    margin: 60px;
}

/* Fin Page Servicios */


/* Inicio Page Contacto */

.conteiner-contacto {
    /*Grid*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.first-image-conteiner-contacto {
    width: 100%;
    height: 100%;
    /*Grid*/
    display: grid;
    grid-column: 1;
    grid-row: 1;
    /*Flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-image-conteiner-contacto {
    width: 100%;
    height: 100%;
    /*Grid*/
    display: grid;
    grid-column: 2;
    grid-row: 2;    
    /*Flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-image-conteiner-contacto {
    width: 100%;
    height: 100%;
    /*Grid*/
    display: grid;
    grid-column: 1;
    grid-row: 3;    
    /*Flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-text-conteiner-contacto {
    /*Grid*/
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-items: center;
    text-align: center;
}

.second-text-conteiner-contacto {
    /*Grid*/    
    display: grid;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    text-align: center;
}

.third-text-conteiner-contacto {
    /*Grid*/  
    display: grid;
    grid-column: 2;
    grid-row: 3;
    align-items: center;
    text-align: center;
}

.contacto {
    font-size: 3rem;
}

.paragraph-contacto {
    font-size: 35px;
    margin: 10px 30px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}

/* Fin Page Contacto */




/*Inicio Media query*/

@media screen and (max-width: 500px) {

    /* Logo, Titles and buttons*/

    .title {
        color: rgb(22,22,22);
        text-align: center;
        background-color: rgb(255, 250, 243);
        padding: 20px;
        font-family: 'Josefin Slab', serif;
    }

    #title {
        letter-spacing: 3px;
        font-size: 1rem;
        font-style: italic;
    }
    
    #subtitle {
        font-size: 2rem;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .section-paragraph {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-style: italic;
        font-size: 15px;
        margin: 20px 20px;
        padding: 30px;
    }

    #button {
        background-color: rgb(147, 173, 147);
        border: rgb(75, 107, 75);
        font-size: 15px;
    }

    /* Fin Logo, Titles and buttons*/

    /* Section paragraph */

    .paragraph-introduction {
        font-size: 30px;
        margin: 10px;
        font-family: 'Ysabeau', sans-serif;
        font-style: italic;
    }

    .paragraph-text {
        font-size: 25px;
        margin: 40px 10px 20px 10px;
        font-family: 'Ysabeau', sans-serif;
    }

    /* Fin Section paragraph*/

    /* Footer */

    .footer-conteiner {
        /*Grid*/
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 1;
    }

    footer {
        background-color: rgb(220, 220, 220);
        padding: 12px;
    }

    .footer-icon {
        text-decoration: none;
        color: rgb(92, 130, 108);   
        cursor: pointer;
    }

    .footer-item-media {
        /*Grid*/        
        grid-column: 1;
        /*Flexbox*/
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 12px;
    }

    .media-icon {
        width: 20px;
        height: 20px;
    }

    .footer-item-phrase {
        text-align: end;
        font-style: italic;
        /*Grid*/  
        grid-column: 2;
        font-size: 15px;
        margin-bottom: 30px;
    }

    /* Fin Footer */

    /*Inicio Page Nosotros*/

    .paragraph-nosotros {
        font-size: 22px;
        margin: 20px 30px;
        font-family: 'Poppins', sans-serif;
    }

    .conteiner {
        /*Flexbox*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text-conteiner {
        margin: 30px 10px 20px 10px;
        padding: 30px 10px 0px 10px;

        /*Flexbox*/
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .first-image-conteiner-nosotros, .second-image-conteiner-nosotros, .third-image-conteiner-nosotros {
        /*FlexBox*/
        display: flex;
        align-items: center;
    }

    /*
    
    .second-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }
    

    .third-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }

    */

    .nosotros-image {
        width: 90%;
        margin: 10px;
    }

    .second-button {
        /*Flexbox*/
        display: flex;
        justify-content: center;
        margin: 40px 0px;
    }

    /* Fin Page Nosotros*/


    /* Inicio Page Servicios*/

    .uno, .dos, h3 {
        font-size: 22px;
    }

    h3 {
        margin: 15px 30px;
    }

    .dos {
        padding: 10px 40px;
    }

    .servicios-1, .servicios-4, .servicios-3 {
        display: none;
    }

    .servicios-2 {
        width: 70%;
    }

    .item-servicios {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        list-style-type: circle;
        list-style-position: inside;
        padding: 15px;
        text-align: center;
    }

    .cinco {
        text-align: center;
        margin: 0px;
        padding: 15px;
        background-color: rgb(236, 207, 233);
    }

    .last-paragraph-servicios {
        font-size: 24px;
    }

    /* Fin Page Servicios */


    /* Inicio Page Galería*/

    .galeria-conteiner {
        text-align: center;
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
        width: 100%;
        margin: 20px auto;
        /*FlexBox*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo  {
        width: 70%;
        margin: 10px;
    }

    /*
    #carouselExample-compromiso {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-gianluca {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-eli {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-tomas {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-bautismo {
        width: 70%;
        margin: 10px;
    }
    */

    .paragraph-galeria {
        margin: 30px 0px 35px 0px;
    }

    /* Fin Page Galería*/


    /* Inicio Page Contacto */

    .conteiner-contacto {
        /*Flexbox*/
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
    }

    .first-image-conteiner-contacto, .second-image-conteiner-contacto, .third-image-conteiner-contacto {
        display: none;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
        padding: 35px;
    }

    /*
    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 25px;
    }

    .paragraph-contacto {
        font-size: 20px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }
    
    /* Fin Page Contacto */
}




@media screen and (min-width: 500px) and (max-width: 604px) {

     /* Inicio Page Contacto */

     .conteiner-contacto {
        /*Flexbox*/
        display: flex;
        flex-direction: column;
    }

    .first-image-conteiner-contacto, .second-image-conteiner-contacto, .third-image-conteiner-contacto {
        display: none;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    /*
    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 2rem;
    }

    .paragraph-contacto {
        font-size: 25px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

    /* Fin Page Contacto */

}







@media screen and (min-width: 500px) and (max-width: 684px) {
    /* Logo, Titles and buttons*/
    .title {
        color: rgb(22,22,22);
        text-align: center;
        background-color: rgb(255, 250, 243);
        padding: 40px;
        font-family: 'Josefin Slab', serif;  
    }

    #title {
        letter-spacing: 4px;
        font-size: 1rem;
        font-style: italic;
    }
    
    #subtitle {
        font-size: 3rem;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .section-paragraph {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-style: italic;
        font-size: 18px;
        margin: 20px 20px;
        padding: 30px;
    }

    #button {
        background-color: rgb(147, 173, 147);
        border: rgb(75, 107, 75);
        font-size: 20px;
    }
    /* Fin Logo, Titles and buttons*/

    /* Section paragraph */

    .paragraph-introduction {
        font-size: 40px;
        margin: 18px;
        font-family: 'Ysabeau', sans-serif;
        font-style: italic;
    }

    .paragraph-text {
        font-size: 30px;
        margin: 60px 60px 40px 60px;
        font-family: 'Ysabeau', sans-serif;
    }

    /* Fin Section paragraph*/

    /* Footer index*/

    .footer-conteiner {
        /*Grid*/
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;
    }

    footer {
        background-color: rgb(220, 220, 220);
        padding: 10px;
    }

    .footer-icon {
        text-decoration: none;
        color: rgb(92, 130, 108);   
        cursor: pointer;
    }

    .footer-item-media {
        /*Grid*/
        grid-column: 1;
        /*Flexbox*/
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 15px;
    }

    .media-icon {
        width: 25px;
        height: 25px;
    }

    .footer-item-phrase {
        text-align: end;
        font-style: italic;
        /*Grid*/
        grid-column: 3;
        font-size: 15px;
        margin-bottom: 20px;
    }

    /* Fin Footer index*/

    /*Inicio Page Nosotros*/

    .paragraph-nosotros {
        font-size: 25px;
        margin: 20px 40px;
        font-family: 'Poppins', sans-serif;
    }

    .paragraph-introduction {
        font-size: 35px;
        margin: 15px;
    }

    .conteiner {
        /*Flexbox*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text-conteiner {
        margin: 30px 10px 20px 10px;
        padding: 30px 10px 0px 10px;
        /*Flexbox*/
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .first-image-conteiner-nosotros, .second-image-conteiner-nosotros, .third-image-conteiner-nosotros {
        /*FlexBox*/
        display: flex;
        align-items: center;
    }

    /*
    .second-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }

    .third-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }
    */

    .nosotros-image {
        width: 90%;
        margin: 10px;
    }

    .second-button {
        /*Flexbox*/
        display: flex;
        justify-content: center;
        margin: 40px 0px;
    }

    /* Fin Page Nosotros*/

    /* Inicio Page Servicios*/

    .uno, .dos, h3 {
        font-size: 22px;
    }

    h3 {
        margin: 15px 30px;
    }

    .dos {
        padding: 10px 40px;
    }

    .tres {
        margin: 0px 40px;
    }

    .servicios-1, .servicios-4 {
        display: none;
    }

    .servicios-2 {
        width: 80%;
    }

    .item-servicios {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        list-style-type: circle;
        list-style-position: inside;
        text-align: center;
    }

    .seis {
        /*Flexbox*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .cinco {
        text-align: center;
    }

    .second-button {
        margin: 30px 0px;
    }

    /* Fin Page Servicios */

    /* Inicio Page Galería*/

    .galeria-conteiner {
        text-align: center;
        font-family: 'Josefin Slab', serif;
        font-size: 25px;
        width: 100%;
        margin: 20px auto;
        /*FlexBox*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo {
        width: 70%;
        margin: 10px;
    }

    /*
    #carouselExample-compromiso {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-gianluca {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-eli {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-tomas {
        width: 70%;
        margin: 10px;
    }


    #carouselExample-bautismo {
        width: 70%;
        margin: 10px;
    }
    */

    .paragraph-galeria {
        margin: 30px 0px 35px 0px;
    }
    
    /* Fin Page Galería*/

    /* Inicio Page Contacto */

    .conteiner-contacto {
        /*FlexBox*/
        display: flex;
        flex-direction: column;
    }

    .first-image-conteiner-contacto, .third-image-conteiner-contacto {
        display: none;
    }


    .second-image-conteiner-contacto {
        width: 100%;
        height: auto;
        margin-top: 40px;
        /*FlexBox*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    /*
    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 2rem;
    }

    .paragraph-contacto {
        font-size: 25px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

    /* Fin Page Contacto */
}







@media screen and (min-width: 604px) and (max-width: 684px) {

    /* Inicio Page Contacto */

    .conteiner-contacto {
        /*Flexbox*/
        display: flex;
        flex-direction: column;
    }

    .first-image-conteiner-contacto, .third-image-conteiner-contacto {
        display: none;
    }

    .second-image-conteiner-contacto {
        width: 100%;
        height: auto;
        margin-top: 40px;
        /*Flexbox*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    /*
    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 2rem;
    }

    .paragraph-contacto {
        font-size: 25px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

    /* Fin Page Contacto */
}







@media screen and (min-width: 684px) and (max-width: 968px) {

    /* Logo, Titles and buttons*/
    .title {
        color: rgb(22,22,22);
        text-align: center;
        background-color: rgb(255, 250, 243);
        padding: 80px;
        font-family: 'Josefin Slab', serif;
    }

    #title {
        letter-spacing: 4px;
        font-size: 2rem;
        font-style: italic;
    }
    
    #subtitle {
        font-size: 5rem;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .section-paragraph {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-style: italic;
        font-size: 25px;
        margin: 20px 20px;
        padding: 30px;
    }

    #button {
        background-color: rgb(147, 173, 147);
        border: rgb(75, 107, 75);
        font-size: 25px;
    }
    /* Fin Logo, Titles and buttons*/

    /* Section paragraph*/

    .paragraph-introduction {
        font-size: 40px;
        margin: 20px;
        font-family: 'Ysabeau', sans-serif;
        font-style: italic;
    }

    .paragraph-text {
        font-size: 35px;
        margin: 80px 110px 40px 110px;
        font-family: 'Ysabeau', sans-serif;
    }

    /* Fin Section paragraph*/

    /* Footer */

     .footer-conteiner {
        /*Grid*/
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;
    }

    footer {
        background-color: rgb(220, 220, 220);
        padding: 10px;
    }

    .footer-icon {
        text-decoration: none;
        color: rgb(92, 130, 108);   
        cursor: pointer;
    }

    .footer-item-media {
        /*Grid*/
        grid-column: 1;
        /*Flexbox*/
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 15px;
    }

    .media-icon {
        width: 25px;
        height: 25px;
    }

    .footer-item-phrase {
        text-align: end;
        font-style: italic;
        /*Grid*/
        grid-column: 3;
        font-size: 15px;
        margin-bottom: 20px;
    }

    /* Fin Footer*/

    /*Inicio Page Nosotros*/

    .paragraph-nosotros {
        font-size: 30px;
        margin: 20px 40px;
        font-family: 'Poppins', sans-serif;
    }

    .conteiner {
        /*Flexbox*/
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .text-conteiner {
        margin: 30px 10px 20px 10px;
        padding: 30px 10px 0px 10px;
        /*Flexbox*/
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .first-image-conteiner-nosotros, .second-image-conteiner-nosotros, .third-image-conteiner-nosotros {
        /*FlexBox*/
        display: flex;
        align-items: center;
    }

    /*
    .second-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }

    .third-image-conteiner-nosotros {
        FlexBox
        display: flex;
        align-items: center;
    }
    */

    .nosotros-image {
        width: 90%;
        margin: 10px;
    }

    .second-button {
        /*Flexbox*/
        display: flex;
        justify-content: center;
        margin: 40px 0px;
    }

    /* Fin Page Nosotros*/

    /* Inicio Page Servicios*/

    .dos {
        padding: 10px 50px;
    }

    .servicios-1 {
        display: none;
    }

    .servicios-2 {
        width: 70%;
    }

    .item-servicios {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        list-style-type: circle;
        list-style-position: inside;
        padding: 20px;
    }

    /* Fin Page Servicios */


    /* Inicio Page Galería*/

    .galeria-conteiner {
        text-align: center;
        font-family: 'Josefin Slab', serif;
        font-size: 27px;
        width: 100%;
        margin: 20px auto;
        /*FlexBox*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo {
        width: 40%;
        margin: 10px;
    }

    /*
    #carouselExample-compromiso {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-gianluca {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-eli {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-tomas {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-bautismo {
        width: 40%;
        margin: 10px;
    }
    */

    .paragraph-galeria {
        margin: 30px 0px 35px 0px;
    }

    /* Fin Page Galería*/

    /* Inicio Page Contacto */

    .conteiner-contacto {
        /*Flexbox*/
        display: flex;
        flex-direction: column;
    }

    .first-image-conteiner-contacto, .third-image-conteiner-contacto {
        display: none;
    }


    .second-image-conteiner-contacto {
        width: 100%;
        height: auto;
        margin-top: 50px;
        /*Flexbox*/
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    /*
    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 38px;
    }

    .paragraph-contacto {
        font-size: 30px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

    /* Fin Page Contacto */

}






@media screen and (min-width: 968px) and (max-width: 1745px) {

    /* Inicio Page Galería*/

    .galeria-conteiner {
        text-align: center;
        font-family: 'Josefin Slab', serif;
        font-size: 27px;
        width: 100%;
        margin: 20px auto;
        /*FlexBox*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo {
        width: 40%;
        margin: 10px;
    }

    /*
    #carouselExample-delfina {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-compromiso {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-gianluca {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-eli {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-tomas {
        width: 40%;
        margin: 10px;
    }


    #carouselExample-bautismo {
        width: 40%;
        margin: 10px;
    }
    */

    .paragraph-galeria {
        margin: 30px 0px 35px 0px;
    }

    /* Fin Page Galería*/

    /* Inicio Page Contacto */

    .conteiner-contacto {
        /*Flexbox*/
        display: flex;
        flex-direction: column;
    }

    .first-image-conteiner-contacto, .second-image-conteiner-contacto {
        display: none;
    }

    .third-image-conteiner-contacto {
        width: 100%;
        height: auto;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .first-text-conteiner-contacto, .second-text-conteiner-contacto, .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    /*
    .first-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .second-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }

    .third-text-conteiner-contacto {
        text-align: center;
        align-items: center;
    }
    */

    .contacto {
        font-size: 3rem;
    }

    .paragraph-contacto {
        font-size: 35px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

    /* Fin Page Contacto */

}







@media screen and (min-width: 968px) and (max-width: 1300px) {

/* Logo, Titles and buttons*/

#title {
    letter-spacing: 7px;
    font-size: 2rem;
    font-style: italic;
}

#subtitle {
    font-size: 4rem;
}
/* Fin Logo, Titles and buttons*/

/* Section paragraph*/

.section-paragraph {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px;
}

.paragraph-introduction {
    font-size: 3rem;
    margin: 45px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.paragraph-text {
    font-size: 35px;
    margin: 90px 230px 40px 230px;
    font-family: 'Ysabeau', sans-serif;
}

/* Fin Section paragraph index*/

/*Inicio Page Nosotros*/

.paragraph-nosotros {
    font-size: 34px;
    margin: 20px 40px;
    font-family: 'Poppins', sans-serif;
}

.conteiner {
    /*Flexbox*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.text-conteiner {
    margin: 30px 10px 20px 10px;
    padding: 30px 10px 0px 10px;
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-image-conteiner-nosotros, .second-image-conteiner-nosotros, .third-image-conteiner-nosotros {
    /*FlexBox*/
    display: flex;
    align-items: center;
}

/*
.second-image-conteiner-nosotros {
    FlexBox
    display: flex;
    align-items: center;
}

.third-image-conteiner-nosotros {
    FlexBox
    display: flex;
    align-items: center;
}
*/

.nosotros-image {
    width: 90%;
    margin: 10px;
}

.second-button {
    /*FlexBox*/
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

/* Fin Page Nosotros*/

}








@media screen and (min-width: 1300px) and (max-width: 1500px) {

/* Section paragraph*/
.section-paragraph {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px;
}

.paragraph-introduction {
    font-size: 3rem;
    margin: 45px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.paragraph-text {
    font-size: 35px;
    margin: 90px 270px 40px 270px;
    font-family: 'Ysabeau', sans-serif;
}

/* Fin Section paragraph*/

/*Inicio Page Nosotros*/

.text-conteiner {
    margin: 20px 0px;
}

.paragraph-nosotros {
    font-size: 30px;
    margin: 20px 25px;
    font-family: 'Poppins', sans-serif;
}

.paragraph-introduction {
    font-size: 35px;
}

/* Fin Page Nosotros*/

}







@media screen and (min-width: 1500px) and (max-width: 1900px) {

/* Section paragraph*/
.section-paragraph {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 35px;
}

.paragraph-introduction {
    font-size: 3rem;
    margin: 50px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.paragraph-text {
    font-size: 38px;
    margin: 100px 300px 40px 300px;
    font-family: 'Ysabeau', sans-serif;
}

/* Fin Section paragraph*/

/*Inicio Page Nosotros*/

.paragraph-nosotros {
    font-size: 30px;
    margin: 20px 30px;
    font-family: 'Poppins', sans-serif;
}

.paragraph-introduction {
    font-size: 40px;
}

/* Fin Page Nosotros*/

}




/*Fin Media query*/