@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Page Contacto*/

.contacto-images {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1;


    .contacto-img{
        width: 100%;
    }

    .left-side {
        border-radius: 80px;
        margin-top: 100px;
        grid-column: 1;
        @extend %center;
        transform: translateX(50px);
    }

    .center {
        border-radius: 80px;
        margin-top: 25px;
        grid-column: 2;
        @extend %center;
        position: relative;
        z-index: 1;
    }

    .right-side {
        border-radius: 80px;
        margin-top: 100px;
        grid-column: 3;
        @extend %center;
        transform: translateX(-50px);
    }

    .left-side:hover {
        @include animations ( translateY(30px), all 3s);
    }

    .center:hover {
        @include animations ( scale(1.1), all 2s);
    }

    .right-side:hover {
        @include animations ( translateY(30px), all 3s);
    }
    
}
    


