@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Footer*/

    .footer-conteiner {
        background-color: $bg-footer;
        padding: 30px;
        /*Grid*/
        @include grid (grid, 3, 1);

            .footer-item-media {
                /*Grid*/
                grid-column: 1;
                /*Flexbox*/
                display: flex;
                align-items: center;
                @include basic-texts (16px, italic, 0px);


                    .footer-icon {
                        text-decoration: none;
                        color: $textos-footer;
                        cursor: pointer;
                    }

                    .media-icon {
                        width: 35px;
                        height: 35px;
                    }
            }

            .footer-item-phrase {
                /*Grid*/
                grid-column: 3;
                text-align: end;
                @include basic-texts (20px, italic, 0px 0px 40px 0px);
            }
    }
