@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Footer*/

    .footer-conteiner {
        background-color: $bg-footer;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    

        .social-media-footer {

            grid-column: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .footer-item-media {
                /*
                grid-column: 1;
               
                display: flex;
                align-items: center;
                */


                @include basic-texts (12px, italic, 0px);


                    .footer-icon {
                        text-decoration: none;
                        color: $textos-footer;
                        cursor: pointer;

                        @include responsive (900px) {
                            @include basic-texts (8px, italic, 0px);
                        } 
                    }

                    .media-icon {
                        width: 32px;
                        height: 32px;
                    }
            }
        }


            .footer-item-phrase {
                
                grid-column: 2;
                
                text-align: end;
                align-self: center;

                @include basic-texts (18px, italic, 0px 10px);

                    @include responsive (900px) {
                    @include basic-texts (14px, italic, 0px 10px);
                } 
            }
    }
