@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Page Galería*/

.galeria-conteiner {
    width: 100%;
    margin: 40px auto;
    /*FlexBox*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

        #carouselExample-delfina, #carouselExample-compromiso, #carouselExample-gianluca, #carouselExample-eli, #carouselExample-tomas, #carouselExample-bautismo {
            width: 25%;
            margin: 10px;

            @include responsive (900px) {
                width: 70%;
            } 
        }

        @include responsive (900px) {
            margin: 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        } 

}




