@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";


/*Header CSS*/

header{
    .navbar {
        background-color: $bg-navbar;

        .navbar-brand {
            margin: 0px 12px;
        }
        .logo{
            width: 70px;
            height: 70px;
        }

        #navbarNav {
            .nav-link.active.ok {
                @include navbar-text ($textos-claros, 20px);
                text-decoration: underline;
                font-style: italic;
            }

            .nav-link {
                @include navbar-text ($textos-claros, 18px);
            }
        }
    }
}






