@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Page Nosotros*/

.first-conteiner {
    /*Grid*/
    @include grid (grid, 1fr 2fr);
    display: flex;
    justify-content: center;


    .logo-image-conteiner-nosotros {
        /*Grid*/
        grid-column: 1;
        align-self: center;
        margin: 45px;
        width: 75%;


        .nosotros-image-logo {

            width: 50%;
            margin: 20px 5px;
            align-self: center;

            @include responsive (1500px) {
                width: 40%;
                margin-top: 30px;
                align-self: center;
            }
            @include responsive (1300px) {
                width: 50%;
                margin-top: 30px;
                align-self: center;
            }
            @include responsive (900px) {
                width: 50%;
                margin-top: 30px;
                align-self: center;
            }
        }

        @include responsive (1500px) {
            margin: 30px;
        }
        @include responsive (1300px) {
            margin: 25px;
        }
        @include responsive (900px) {
            margin: 20px;
        }


    }
    

    .logo-image-conteiner-nosotros:hover {
        @include animations (rotate(360deg), all 5s);
    }
    
    .text-conteiner {
        /*Grid*/
        grid-column: 2;
        /*Flexbox*/
        @extend %center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}


.second-conteiner {
    
    display: none;

    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0px;

    .first-image-conteiner-nosotros {
        @include img-nosotros (1, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 65%;
                border-radius: 10px;
            }
        }
        
    }
    
    .second-image-conteiner-nosotros {
        @include img-nosotros (2, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 65%;
                border-radius: 10px;
            }
        }
    }
    
    .third-image-conteiner-nosotros {
        @include img-nosotros (3, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 65%;
                border-radius: 10px;
            }
        }
    }

*/

}

.instagram-post-conteiner {
    display: flex;
    justify-content: center;

    .individual-ig-post {
        width: 70%;
        padding: 10px;
    }

    @include responsive (1000px) {
        display: none;
    }


}

#carouselExample-instagram {
    
    .carousel-item.active {
        display: flex;
        justify-content: center;
        padding: 0px 100px;

    }


    .carousel-control-prev-icon, .carousel-control-next-icon {
        filter: invert(108%);
      }


      @include responsive-min (1000px) {
        display: none;
    }
}
