@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Page Nosotros*/

.first-conteiner {
    /*Grid*/
    @include grid (grid, 1fr 2fr);
    display: flex;
    justify-content: center;


    .logo-image-conteiner-nosotros {
        /*Grid*/
        grid-column: 1;
        align-self: center;
        margin: 45px;
        width: 75%;


        .nosotros-image-logo {

            @include responsive (1500px) {
                width: 40%;
                margin-top: 30px;
                align-self: center;
            }
            @include responsive (1300px) {
                width: 50%;
                margin-top: 30px;
                align-self: center;
            }
            @include responsive (900px) {
                width: 50%;
                margin-top: 30px;
                align-self: center;
            }
        }

        @include responsive (1500px) {
            margin: 30px;
        }
        @include responsive (1300px) {
            margin: 25px;
        }
        @include responsive (900px) {
            margin: 20px;
        }


    }
    

    .logo-image-conteiner-nosotros:hover {
        @include animations (rotate(360deg), all 5s);
    }
    
    .text-conteiner {
        /*Grid*/
        grid-column: 2;
        /*Flexbox*/
        @extend %center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.second-conteiner {
    /*Grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .first-image-conteiner-nosotros {
        @include img-nosotros (1, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 80%;
                border-radius: 10px;
            }
        }
        
    }
    
    .second-image-conteiner-nosotros {
        @include img-nosotros (2, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 80%;
                border-radius: 10px;
            }
        }
    }
    
    .third-image-conteiner-nosotros {
        @include img-nosotros (3, flex, center);

        .image {
            @extend %img-nosotros;

            .nosotros-image {
                width: 80%;
                border-radius: 10px;
            }
        }
    }
}



