@import "../base/colores";


.section-paragraph {
    color: $textos-oscuros;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 45px;

    .paragraph-introduction {
        font-size: 35px;
        margin: 65px;
        font-family: 'Ysabeau', sans-serif;
        font-style: italic;
    }
    
    .paragraph-text {
        font-size: 30px;
        margin: 90px 390px 40px 390px;
        font-family: 'Ysabeau', sans-serif;
    }
    
}


/*Page Nosotros*/

.paragraph-introduction {
    font-size: 35px;
    margin: 65px;
    font-family: 'Ysabeau', sans-serif;
    font-style: italic;
}

.paragraph-nosotros {
    font-size: 24px;
    margin: 20px 80px;
    font-family: 'Poppins', sans-serif;
}

.italic {
    font-style: italic;
}


/*Page Galería*/

.paragraph-galeria {
    margin: 30px 0px 85px 0px;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
}


/*Page Servicios*/

#servicios-conteiner {
    .servicios-introduction {
        background-color: $bg-principal-card;
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-style: italic;
        padding: 10px;   
        text-align: center;

            .uno, .dos {
                margin: 40px;
            }

    }
    
    
    .servicios-detalle {
        h3 {
            font-size: 28px;
            font-family: 'Poppins', sans-serif;
            margin: 30px;
            font-style: italic;
            text-align: center;
        }
        
        .cuatro {
            margin: 10px 20px;
            padding-right: 30px;
            /*FlexBox*/
            display: flex;
            flex-direction: column;
        
            .item-servicios {
                font-family: 'Poppins', sans-serif;
                font-size: 25px;
                list-style-type: circle;
                list-style-position: inside;
                padding: 20px;
            }
        }
        
        .cinco {
            font-family: 'Poppins', sans-serif;
            font-size: 28px;
            margin: 20px;
            display: flex;
            justify-content: center;
            font-style: italic;
        }
    }

}


/*Page Contacto*/
main {
    text-align: center;

    .contacto {
        margin-top: 80px;
        font-size: 35px;

    }
    
    .paragraph-contacto {
        font-size: 32px;
        margin: 10px 30px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
    }

}



