@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

.section-paragraph {
    color: $textos-oscuros;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 45px;

    .paragraph-introduction {
        @include basic-texts (35px, italic, 65px);
        font-family: 'Ysabeau', sans-serif;

            @include responsive (1500px) {
                @include basic-texts (30px, none, 70px 250px 40px 250px);
            } 
            @include responsive (1300px) {
                @include basic-texts (28px, none, 60px 150px 40px 150px);
            } 
            @include responsive (900px) {
                @include basic-texts (26px, none, 50px 80px);
            } 
            @include responsive (700px) {
                @include basic-texts (24px, none, 50px 30px);
            } 

    }
    
    .paragraph-text {
        @include basic-texts (30px, none, 90px 390px 40px 390px);
        font-family: 'Ysabeau', sans-serif;

        @include responsive (1500px) {
            @include basic-texts (28px, none, 70px 250px 40px 250px);
        } 
        @include responsive (1300px) {
            @include basic-texts (26px, none, 60px 150px 40px 150px);
        } 
        @include responsive (900px) {
            @include basic-texts (26px, none, 50px 80px);
        } 
        @include responsive (700px) {
            @include basic-texts (26px, none, 50px 30px);
        } 
    }
    
    @include responsive (1300px) {padding: 30px;} 
    @include responsive (900px) {padding: 20px;} 
    @include responsive (700px) {padding: 0px;} 
}


/*Page Nosotros*/

.paragraph-introduction {
        @include basic-texts (35px, italic, 65px);
        font-family: 'Ysabeau', sans-serif;

        @include responsive (1500px) {
            @include basic-texts (30px, none, 70px 250px 40px 250px);
        } 
        @include responsive (1300px) {
            @include basic-texts (28px, none, 60px 150px 40px 150px);
        } 
        @include responsive (900px) {
            @include basic-texts (26px, none, 50px 80px);
        } 
        @include responsive (700px) {
            @include basic-texts (24px, none, 50px 30px);
        } 
}

.paragraph-nosotros {
    @include basic-texts (24px, none, 20px 80px);
    font-family: 'Poppins', sans-serif;

        @include responsive (1500px) {
            @include basic-texts (24px, none, 20px 50px);
        } 
        @include responsive (1300px) {
            @include basic-texts (22px, none, 20px 40px);
        } 
        @include responsive (900px) {
            @include basic-texts (20px, none, 10px 20px);
        } 
        @include responsive (700px) {
            @include basic-texts (18px, none, 10px 10px);
        } 
}

.italic {
    font-style: italic;
}


/*Page Galería*/

.paragraph-galeria {
    @include basic-texts (2rem, none, 30px 0px 85px 0px);
    text-align: center;
    font-family: 'Josefin Slab', serif;

        @include responsive (900px) {
            @include basic-texts (28px, none, 30px 0px 65px 0px);
        } 
        @include responsive (700px) {
            @include basic-texts (26px, none, 30px 0px 55px 0px);
        } 
}


/*Page Servicios*/


.servicios-introduction {
    font-family: 'Poppins', sans-serif;
    padding: 10px;   
    text-align: center;
    margin: 40px;

        .uno {
            @include basic-texts (32px, italic, 0px);
            padding: 30px 100px;

                @include responsive (900px) {
                    @include basic-texts (28px, italic, 0px);
                    padding: 15px 30px;
                } 
                @include responsive (700px) {
                    @include basic-texts (26px, italic, 0px);
                    padding: 15px 20px;
                } 
        }

        .dos {
            font-size: 24px;
            padding: 30px 100px;

                @include responsive (900px) {
                    font-size: 24px;
                    padding: 15px 30px;
                } 
                @include responsive (700px) {
                    font-size: 22px;
                    padding: 15px 20px;
                } 
        }


            @include responsive (900px) {
                margin: 20px;
            } 

}
        
.servicios-detalle {
    h3 {
        @include basic-texts (28px, italic, 30px);
        font-family: 'Poppins', sans-serif;
        padding-top: 50px;
        text-align: center;

            @include responsive (900px) {
                padding-top: 25px;
            } 
    }
    
    .cuatro {
        margin: 10px 20px;
        padding-right: 30px;
        /*FlexBox*/
        display: flex;
        flex-direction: column;
        text-align: center;
    
        .item-servicios {
            font-family: 'Poppins', sans-serif;
            font-size: 25px;
            list-style-type: circle;
            list-style-position: inside;
            padding: 20px;

                @include responsive (900px) {
                    font-size: 22px;
                    padding: 15px;
                } 
        }
    }
    
    .cinco {
        @include basic-texts (28px, italic, 20px);
        font-family: 'Poppins', sans-serif;
        @extend %center;
    }
}



/*Page Contacto*/
main {
    text-align: center;

    .contacto {
        @include basic-texts (35px, none, 70px);
    }
    
    .paragraph-contacto {
        @include basic-texts (32px, italic, 10px 30px);
        font-family: 'Poppins', sans-serif;

            @include responsive (900px) {
                @include basic-texts (28px, italic, 10px 20px);
                font-family: 'Poppins', sans-serif;
            } 
    }

    .second-text-conteiner-contacto {
        margin: 70px 0px;
    }

}



