@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Section Title*/


.title {
    @extend %titles;
    
    #title {
        letter-spacing: 7px;
        font-style: italic;
        font-size: 3rem;
    }

    #subtitle {
        font-size: 4rem;
    }
}