@import "../base/colores";
@import "../base/extends";
@import "../base/mixins";

/*Section Title*/


.title {
    @extend %titles;
    
    #title {
        letter-spacing: 7px;
        font-style: italic;
        font-size: 42px;


        @include responsive (1500px) {
            font-size: 34px;
        } 

        @include responsive (1300px) {
            font-size: 30px;
        } 

        @include responsive (900px) {
            font-size: 26px;
        } 
    }

    #subtitle {
        font-size: 60px;

        @include responsive (1500px) {
            font-size: 50px;
        } 

        @include responsive (1300px) {
            font-size: 42px;
        } 

        @include responsive (900px) {
            font-size: 35px;
        } 
    }
}