
$bg-navbar: rgb(170, 183, 156);
$bg-title: rgb(255, 250, 243);
$bg-footer: rgb(220, 220, 220);
$bg-buttons: rgb(147, 173, 147);
$bg-buttons-redes: rgb(236, 124, 142);

$border-buttons: rgb(75, 107, 75);

$textos-oscuros: rgb(22,22,22);
$textos-claros: beige;
$textos-footer: rgb(92, 130, 108);
