/*Responsive*/

@mixin responsive ($medida :480px) {
    @media screen and (max-width: $medida) {
        @content;        
    }
}

@mixin responsive-min ($medida :480px) {
    @media screen and (min-width: $medida) {
        @content;        
    }
}


@mixin basic-texts ( $size, $style, $margin) {
    font-size: $size;
    font-style: $style;
    margin: $margin;
}

@mixin grid ($grid, $columns) {
    display: $grid;
    grid-template-columns: $columns;

    @media screen and (max-width: 1500px) {
        display: $grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-wrap: wrap;
    }
}

@mixin animations ($transform, $transition) {
    transform: $transform;
    transition: $transition;
}

@mixin buttons ($bg-color, $border, $font-size, $padding) {
    background-color: $bg-color;
    border: $border;
    font-size: $font-size;
    padding: $padding;
}

@mixin navbar-text ($color, $size) {
    color: $color;
    font-size: $size;
}

@mixin img-nosotros ($column, $display, $align) {
    grid-column: $column;
    display: $display;
    align-items: $align;
}

@mixin img-servicios ($column, $padding, $margin) {
    grid-column: $column;
    padding: $padding;
    margin-top: $margin;
}